* {
    font-family: "Noto Sans", sans-serif;
}

:root {
    --body-color: rgba(114, 17, 17, 0.932);
    --head-foot-color: rgb(15, 6, 94);
    --white-text: white;
    --side-section-color:  rgb(222, 222, 222);
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--head-foot-color);
    color: var(--white-text);
    padding: 0.25rem;
    text-align: center;
}

h1 {
    font-size: 38px;
}

/* ------------------------------ */
h2 {
    display: flex;
    align-items: center;
    /* padding: 0; */
    margin: 5px;
}

.emoji {
    margin: 0;
}

picture {
    margin: 1rem 0rem;
}

main picture {
    display: flex;
    justify-content: center;
}

main img {
    max-width: 100%;
    height: auto;
}

.data, .weather {
    background-color: var(--side-section-color);
    padding: 1px;
    margin: 1rem;
    font-size: 14px;
}

.weather h2, .weather-icon {
    display: inline;
    vertical-align: middle;
}


/* ------------------------------ */
footer {
    background: var(--head-foot-color);
    color: var(--white-text);
    width: auto;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}